#{locals[:track_details]}
%br
%a{:href => '/kindle/play'}>= 'play'
\-
%a{:href => '/kindle/pause'}>= 'pause'
\-
%a{:href => '/kindle/stop'}>= 'stop'
%br
%a{:href => '/kindle/prev'}>= 'prev'
\-
%a{:href => '/kindle/next'}>= 'next'
%br
%a{:href => '/kindle/vol_up'}>= 'vol+'
\-
%a{:href => '/kindle/vol_down'}>= 'vol-'
%br
%a{:href => '/kindle/mute'}>= 'mute'
\-
%a{:href => '/kindle/unmute'}>= 'unmute'
%br
%a{:href => '/kindle/status'}>= 'show current track'
%br
%a{:href => '/kindle/quit'}>= 'quit iTunes'
%br
%a{:href => '/kindle/cmd'}>= 'show command line'